:root {
    --white: #fff;
    --orange: #f36c00;
  }
  
  button {
    cursor: pointer;
  }
  
  .outer-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .outer-container > div {
    flex: 1;
    padding: 20px;
  }
  
  .outer-container .carousel-wrapper {
    background: var(--orange);
    display: flex;
    flex-direction: column;
  }
  
  .outer-container .content {
    background: var(--white);
  }
  
  .carousel-button {
    display: flex;
    align-self: center;
    padding: 10px;
    max-width: 50px;
    border-radius: 30px;
    background: var(--orange);
    border: 2px solid var(--white);
  }
  
  .carousel-button svg {
    height: 26px;
    width: 26px;
  }
  
  .carousel-button path {
    fill: var(--white);
  }